<template>
  <nav
    class="bg-white border-gray-200 px-2 sm:px-4 py-0 rounded dark:bg-gray-800"
  >
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <span class="self-center font-semibold whitespace-nowrap dark:text-white"
        >NAME</span
      >
      <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
        <ul
          class="
            flex flex-col
            mt-4
            md:flex-row md:space-x-1 md:mt-0 md:text-sm md:font-medium
          "
        >
          <li>
            <button
              class="
                inline-block
                px-2
                py-.5
                bg-gray-500
                text-gray-300
                hover:bg-blue-500
                active:bg-blue-700
              "
              data-bs-toggle="tooltip"
              @click="hiddenR"
              title="Add"
            >
              <fa :icon="['fas', 'image']" />
            </button>
          </li>
          <li>
            <button
              class="
                inline-block
                px-2
                py-.5
                bg-gray-500
                text-gray-300
                hover:bg-blue-500
              "
            >
              <fa icon="pencil" />
            </button>
          </li>
          <li>
            <button
              class="
                inline-block
                px-2
                py-.5
                bg-gray-500
                text-gray-300
                hover:bg-blue-500
              "
              data-bs-toggle="tooltip"
              title="Edit"
            >
              <fa icon="upload" />
            </button>
          </li>
          <li class="relative dropdown">
            <button
              id="click-text"
              class="
                inline-block
                px-2
                py-.5
                bg-gray-500
                text-gray-300
                hover:bg-blue-500
              "
              :class="[
                isActive ? 'bg-orange-500 hover:bg-orange-700' : 'bg-gray-500',
              ]"
              @click.prevent="toggle"
              aria-haspopup="true"
              :aria-expanded="isActive"
              data-dropdown-toggle="dropdown"
            >
              <fa icon="gear" />
              <!-- <fa class="pl-1 text-white" icon="caret-down" /> -->
              <fa class="pl-1 text-white" :icon="sortIcon" />
            </button>
            <div
              v-show="isActive"
              class="
                absolute
                right-0
                w-40
                py-0
                mt-0
                z-50
                my-4
                text-base
                list-none
                bg-white
                rounded
                divide-y divide-gray-100
                shadow
                dark:bg-gray-700 dark:divide-gray-600
              "
            >
              <ul class="py-1" aria-labelledby="dropdown">
                <li>
                  <a
                    href="#"
                    class="
                      block
                      py-2
                      px-4
                      text-sm text-gray-700
                      hover:bg-gray-100
                      dark:hover:bg-gray-600
                      dark:text-gray-200
                      dark:hover:text-white
                    "
                    >Dashboard</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="
                      block
                      py-2
                      px-4
                      text-sm text-gray-700
                      hover:bg-gray-100
                      dark:hover:bg-gray-600
                      dark:text-gray-200
                      dark:hover:text-white
                    "
                    >Settings</a
                  >
                </li>
                <li>
                  <a
                    href="#"
                    class="
                      block
                      py-2
                      px-4
                      text-sm text-gray-700
                      hover:bg-gray-100
                      dark:hover:bg-gray-600
                      dark:text-gray-200
                      dark:hover:text-white
                    "
                    >Earnings</a
                  >
                </li>
                <li>
                  <button
                    class="
                      block
                      w-full
                      py-2
                      px-4
                      text-sm text-gray-700
                      hover:bg-gray-100
                      dark:hover:bg-gray-600
                      dark:text-gray-200
                      dark:hover:text-white
                    "
                    @click.prevent="exit"
                  >
                    Sign out
                  </button>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
var tooltipTriggerList = [].slice.call(
  document.querySelectorAll('[data-bs-toggle="tooltip"]')
);
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new Tooltip(tooltipTriggerEl);
});
export default {
  name: "HeaderMap",
  emits: ["hiddenR"],
  data() {
    return {
      isActive: false,
    };
  },
  computed: {
    sortIcon() {
      return this.isActive === false
        ? ["fas", "sort-down"]
        : ["fas", "sort-up"];
    },
  },
  methods: {
    toggle: function () {
      const concernedElement = document.querySelector("#click-text");
      this.isActive = !this.isActive;
      document.addEventListener("mousedown", (e) => {
        if (!concernedElement.contains(e.target)) {
          this.isActive = false;
        }
      });
    },
    hiddenR: function () {
      this.$emit("hiddenR", "");
    },
  },
};
</script>

<style>
</style>