<template>
  <div class="flex h-screen">
    <div
      class="
        flex-initial
        cursor-pointer
        dark:bg-blue-700
        hover:dark:bg-blue-800
        active:dark:bg-blue-900
      "
      @click="hiddenLeft = !hiddenLeft"
      v-if="!hiddenLeft"
    >
      <div class="origin-bottom-left rotate-90 my-64 mr-2 select-none">
        left
      </div>
    </div>
    <div class="flex-auto border border-inherit">
      <splitpanes horizontal class="default-theme" style="height: 100%; full">
        <pane>
          <splitpanes vertical>
            <pane min-size="5" size="20" v-if="hiddenLeft">
              <splitpanes horizontal>
                <pane>
                  <HeaderItems @hiddenL="hiddenCL" />
                  <table class="table-auto text-sm w-full">
            <thead
              class="
                text-gray-700
                uppercase
                bg-gray-50
                dark:bg-gray-700 dark:text-gray-400
                h-8
              "
            >
              <tr>
                <th class="border border-slate-600">id</th>
                <th class="border border-slate-600">first_name</th>
                <th class="border border-slate-600">last_name</th>
                <th class="border border-slate-600">middle_name</th>
                <th class="border border-slate-600">gender</th>
                <th class="border border-slate-600">roles</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr v-for="l in listest" :key="l.id" class="border-b">
                <td>{{ l.id }}</td>
                <td>{{ l.first_name }}</td>
                <td>{{ l.last_name }}</td>
                <td>{{ l.middle_name }}</td>
                <td>{{ l.gender }}</td>
                <td>
                  <ul>
                    <li v-for="r in l.roles" :key="r">
                      {{ r }}
                    </li>
                  </ul>
                </td>
              </tr> -->
            </tbody>
          </table>
                </pane>
            <pane><HeaderState @hiddenL="hiddenCL" /></pane>
              </splitpanes>
            </pane>
            <pane min-size="20" size="60"><HeaderMap @hiddenR="hiddenR" />1</pane>
            <pane min-size="5" size="20" v-if="hiddenRight"
          ><HeaderEvent @hiddenR="hiddenCR"/>
        </pane>
          </splitpanes>
        </pane>
        <pane v-if="showReports" size="20"></pane>
      </splitpanes>
    </div>
    <div
      class="
        flex-initial
        cursor-pointer
        dark:bg-blue-700
        hover:dark:bg-blue-800
        active:dark:bg-blue-900
      "
      @click="hiddenRight = !hiddenRight"
      v-if="!hiddenRight"
    >
      <div class="origin-bottom-right -rotate-90 my-64 select-none">right</div>
    </div>
  </div>
</template> 

<script>
// @ is an alias to /src
import HeaderMap from "@/components/Header/HeaderMap.vue";
import HeaderEvent from "@/components/Header/HeaderEvent.vue";
import HeaderState from "@/components/Header/HeaderState.vue";
import HeaderItems from "@/components/Header/HeaderItems.vue";

import { Splitpanes, Pane } from "splitpanes";
// import { onMounted } from "@vue/runtime-core";

import "splitpanes/dist/splitpanes.css";

// import getList from "../composables/test";

export default {
  name: "HomeView",

  components: {
    Pane,
    HeaderMap,
    HeaderItems,
    HeaderState,
    HeaderEvent,
    Splitpanes,
  },
  data() {
    return {
      showReports: false,
      hiddenRight: false,
      hiddenLeft: false,
    };
  },
  // setup() {
  //   const { listest, showList } = getList();

  //   onMounted(showList());

  //   return {
  //     listest,
  //   };
  // },
  methods:{
    hiddenCR(){
      this.hiddenRight = !this.hiddenRight
    },
    hiddenCL(){
      this.hiddenLeft = !this.hiddenLeft
    },
    hiddenR() {
      console.log(this.showReports)
      this.showReports = !this.showReports
    }
  },
};
</script>

<style>
.splitpanes__pane {
  font-family: Helvetica, Arial, sans-serif;
}

.splitpanes.default-theme .splitpanes__pane {
  background-color: #434241 !important;
  color: white;
}
</style>